out
build
target
.gradle
gradle.properties
*.idea
*.iml
*.ipr
*.iws
src/main/resources/.reloadtrigger
.kpt-pipeline
extras/kubernetes/postgres/.kpt-pipeline
extras/kubernetes/mysql/.kpt-pipeline

# Sensible Daten
extras/compose/db/mysql/db_root_password.txt
extras/compose/db/postgres/db_password.txt
src/main/resources/private-key.pem
